.console {
    position: fixed;
    bottom: 0;
    background: #333;
    left: 0;
    right: 0;
    padding: 5px;
    color: #FFF
}
.console b {
    font-weight: bold
}
.cur {
    position: fixed;
    bottom: 25%;
    color: #0cff41;
}
#toRed {
    color: red;
}
