* {
    margin: 10px;
    padding: 0;
}

.old {opacity:0.4;
    font-size:small;
}
.now {
    opacity: 1;
    font-size:large;
    /*font-weight: bold;*/
}
.new {opacity:0.3;
    font-size:small;
}
.bap {
    color: #9ffc9c;
    font-weight: bold;
}
.console {
    position: fixed;
    bottom: 0;
    background: #333;
    color: #f06;
    left: 0;
    right: 0;
    padding: 5px;
    color: #FFF
}
.console b {
    font-weight: bold
}